#show-comics {
    background-color: rgb(255, 255, 255);

    .container {
        width: calc(100% * 2 / 3);
        position: relative;
        padding: 1.2rem 0;
    }

    .stripe {
        height: 75px;
        background-color: dodgerblue;
    }

    #current-series {
        position: absolute;
        top: -285px;
        left: 0;


        figure {
            position: relative;
            width: 175px;
            height: 275px;
            overflow: hidden;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.493);

            img {
                position: relative;
                top: 50%;
                left: 50%;
                translate: -50% -50%;

                height: 100%;
                width: auto;
            }

            span {
                position: absolute;
                background-color: rgb(25, 166, 201);
                color: white;
                font-size: 0.8rem;
                padding: 3px;

                &.add-1 {
                    top: 0;
                    left: 0;

                }

                &.add-2 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

    }

    .space-between {
        justify-content: space-between;
    }

    #comic-content {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        flex-grow: 0;

        h2 {
            text-transform: uppercase;
        }

        p {}

    }

    #adv {
        width: calc(100% / 3);
    }


}